# TITLE : INITIAL DATA EXPLORATION

Overview: This project analyzes the needs of Micosoft and the expansion of generating revenue with the creation of a movie studio. Descriptive analysis of movie studios across the world via gross income, movie rating, and budget would allow Microsoft to output its own studio with these factors.

Business Problem: Microsoft wants to create a new reveue stream for the company in a field in which they have not explored in. There are numerous competitors in this field in which Microsoft may not be aware of. I describe patterns of income, movie ratings, and budgets from some of the competitors to establish a baseline in which would ease the creation of a new movie studio.

Data Understanding: The data utilized below comes from a private data sector in from the year 2019 across all sectors of movie studios. The data files will provide names of the studios, along with budgets and ratings of those movies in return the gross revenue is returned as well

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
!ls

Movie Analysis Microsoft.ipynb
Untitled.ipynb
zippedData

In [3]:
!ls zippedData/

bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz
untitled

In [4]:
basics = pd.read_csv('zippedData/tmdb.movies.csv.gz')  
basics['vote_average']<6.3
votes

NameError: name 'votes' is not defined

In [ ]:
team = pd.read_csv('zippedData/tmdb.movies.csv.gz')  
votes = team.loc[team['title'].isin(domestic_revenue)].head(15)
votes

In [ ]:
basics['vote_average'].mean()

    #production_price.loc[production_price ['movie'].isin(movie_title)]

In [ ]:
ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
ratings

In [ ]:
ratings.plots.scatter

In [ ]:
avg = ratings.groupby([ratings['averagerating']>6.2])
print(avg)

In [ ]:
##Starting first we want to have the ratings of movies who are 6.3 or above
#7.0 being the minimum baseline for user enjoyment 
#acquire the sum of each rating. as 
ratings['averagerating'].mean() #AVERAGE RATING

In [ ]:
#Starting first we want to have the ratings of movies who are 7.0 or above
#7.0 being the minimum baseline for user enjoyment 
#acquire the sum of each rating. as 
ratings['averagerating'].mean()

In [ ]:
number = ratings.groupby('numvotes')
for num,ammount in number:
    print(num)
    print(ammount)

In [ ]:
revenue = pd.read_csv('zippedData/bom.movie_gross.csv.gz')ascending_gross['domestic_gross'].mean(

In [ ]:
#Wanted to display the top grossing movies of all time

high_domestic_gross = revenue.sort_values('domestic_gross', ascending = False).head(15)
domestic_gross =high_domestic_gross['domestic_gross'].head(15) #My Plot Point

domestic_gross


#StarWarsThe Force Awaken, Black Panther,Avengers: Infiity War, Jurassi World, Marvels The Avengers, Star Wars The Last Jedi 
#Incredibles 2 Rogue ONe: A StarWars Story,Beauty and the Beast, Finding Dory, Avengers: Age of Ultron,
#The Dark Knight Riss Th Hunger Games: Catching Fire Jurrassic World Fallen Kingdom Toy story 3

In [ ]:
domestic_revenue = high_domestic_gross['title'] #variable to locate movie titles
domestic_revenue

In [ ]:
revenue

In [ ]:
budget.loc[budget.movie == 'Twilight']

In [ ]:
revenue['studio', ['BV']]

In [ ]:
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [ ]:
budget.loc[budget.movie == ' Beauty and the Beast']
 #The only file with production budget

In [ ]:
productionbudge = production_price.loc[production_price ['movie'].isin(domestic_revenue)].head(15) 
productionbudge#second point in my production table

In [ ]:
the_movies = ['StarWarsThe Force Awaken' , 'Black Panther' ,' Avengers: Infiity War', 'Jurassi World' , 'Marvels The Avengers' , 'Star Wars The Last Jedi' , 
'Incredibles 2' ,  'Rogue One: A StarWars Story', 'Beauty and the Beast' , 'Finding Dory' , 'Avengers: Age of Ultron' ,
'The Dark Knight Rises' ,  'The Hunger Games: Catching Fire', 'Jurrassic World Fallen Kingdom' , 'Toy story 3']
production_budget1 = [245000000, 200000000 ,300000000 , 215000000, 300000000 , 200000000, 200000000 ,330600000 , 25000000, 200000000,330600000, 275000000, 130000000, 170000000, 200000000]
sns.set()
plt.xlabel('Top Grossing Movies Ever', size = 'large' )
plt.ylabel('Production Cost, MIL')
plt.title('Lights, Camera, Action')
plt.xlim(0,25)
cl = ['blue', 'orange', 'yellow', 'black', 'pink', 'purple', 'green', 'grey', 'brown']
plt.xticks(color = 'purple', size = 'large')
plt.bar(the_movies, production_budget1, width=1.0, color = cl)
plt.rcParams['figure.figsize'] = [15,15]
plt.xticks(rotation = 90)
plt.show()

In [ ]:
the_movies = ['StarWarsThe Force Awaken' , 'Black Panther' ,' Avengers: Infiity War', 'Jurassi World' , 'Marvels The Avengers' , 'Star Wars The Last Jedi' , 
'Incredibles 2' ,  'Rogue One: A StarWars Story', 'Beauty and the Beast' , 'Finding Dory' , 'Avengers: Age of Ultron' ,
'The Dark Knight Rises' ,  'The Hunger Games: Catching Fire', 'Jurrassic World Fallen Kingdom' , 'Toy story 3']
domestic_gross
sns.set()
plt.xlabel('Top Grossing Movies Ever', size = 'large' )
plt.ylabel('Gross Revenue, MIL')
plt.title('MONEY MONEY MONEY')
plt.xlim(0,25)
cl = ['purple', 'yellow', 'green', 'pink', 'grey', 'blue', 'red', 'orange', 'black']
plt.xticks(color = 'purple', size = 'large')
plt.bar(the_movies, domestic_gross, width=1.0, color = cl)
plt.rcParams['figure.figsize'] = [15,15]
plt.xticks(rotation = 90)
plt.show()